

type='hvm'

#bootloader='/usr/local/bin/pygrub'
name = "new_debian2"  
#memory = 5000
memory = 13000
disk = [ 'phy:/var/lib/nova/instances/nestedvirt/new_image/debian-disk2.img,xvda,rw']#, 'phy:/dev/sda,sdb,r']

#'file:/var/lib/nova/instances/nestedvirt/new_image/debian-10.1.0-amd64-netinst.iso,hdc:cdrom,r']
allowsuperpage=0

#other parameters
boot="cd" #cd = 1st boot HDD and then boot optical disk; dc = 1st boot optical disk and then boot HDD
vnc=1
vnclisten="127.0.0.1"
vncunused=1
vncconsole=0
serial='pty'
stdvga=1
vfb = [ 'type=vnc']

vif =  ["mac=00:17:4e:7c:ac:e9,bridge=teste"] #it can be any mac address
#the flags below are needed if we want our VM to support nested virtualization (needed to install Xen in L1)

hap=1
nestedhvm=1
#cpuid=['0x00000001:ecx=00000000000000000000000000000000']
#vcpus=12

cpus="1"
#cpuid=['host,apic=0,x2apic=0']
#acpi=0
#apic=0
#nolapic=1
#hpet=0

#xen_platform_pci=1
#pae=1
#sdl=0
#stdvga=0
#usb=1
#usbdevice='tablet'
#keymap='en'

### REMOVE BY FRED FOR MULTIPLEXER pci=['03:00.00']
on_crash='preserve'
#on_reboot='preserve'
